<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Generate Donation Page</h1>
    <form action="" method="post">
      <label for="country">Country</label>
      <select name="country" id="country">
        <option value="selectCountry">Select Country</option>
        <% for(let country of countries){ %>
        <option value=<%= country.isoCode %>><%= country.name %></option>
        <% } %>
      </select>
    </form>
  </body>
</html>
