<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <form action="">
      <label for="country">Country:</label>
      <select name="country" id="country">
        <option value="">Select country</option>
      </select>
      <br />
      <label for="state">State:</label>
      <select name="state" id="state">
        <option value="">Select state</option>
      </select>
      <br />
      <label for="city">City</label>
      <select name="city" id="city">
        <option value="">Select city</option>
      </select>
    </form>

    <script src="/script.js"></script>
  </body>
</html>
