<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <form action="">
      <select name="country" id="country">
        <option value="Country">Select country</option>
        <% for(let country of countries){ %>
        <option value="<%= country.isoCode  %>"><%= country.name %></option>
        <% } %>
      </select>
      <br />
      <select name="state" id="state">
        <option value="">Select state</option>
      </select>
      <br />
      <select name="city" id="city">
        <option value="">Select city</option>
      </select>
    </form>

    <script src="/script.js"></script>
  </body>
</html>
